<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Adoção e doação de animais</title>
    <meta
      name="description"
      content="Encontre um amigo verdadeiro para compartilhar os melhores momentos"
    />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="header/header.styles.css" />
    <link rel="stylesheet" href="categories/categories.styles.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>

    <script src="app.module.js"></script>

    <script src="utilities/constants.js"></script>
    <script src="utilities/helper.factory.js"></script>

    <script src="app.controller.js"></script>
  </head>
  <body ng-controller="AppController as vm" ng-init="vm.load()">
    <ng-include src="'header/header.tpl.html'"></ng-include>
    <main class="container">
      <div class="banner-container">
        <div class="banner-text">
          <h1>Encontre um amigo verdadeiro</h1>
          <span>para compartilhar os melhores momentos</span>
        </div>
        <img src="assets/img-banner.svg" alt="Adote" />
      </div>

      <ng-include src="'categories/categories.tpl.html'"></ng-include>

      <div ng-show="vm.petsFilter.length">
        <h1 class="sub-title">Pets que aguardam adoção</h1>
        <ul class="list-pets">
          <li class="list-pets__item" ng-repeat="item in vm.petsFilter">
            <img class="avatar" src="{{item.avatar_url}}" alt="{{item.name}}" />
            <div class="infos">
              <h2>{{item.name}}</h2>
              <span>{{item.age}} - {{item.sex}}</span>
            </div>
            <button ng-click="vm.handleWhatsapp(item.whatsapp)">
              Entrar em contato
            </button>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
